<!DOCTYPE html>
<html>
<head>
  <title>RailsPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="fixed-nav-bar">
  <div class="top-left">
    <span class="leroi"><%= link_to "Leroi Dejesa", '/' %></span>
  <div class="right-nav">
    <% if current_user %>
      <span class="nav-link"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
    <% else %>
      <span class="nav-link"><%= link_to 'Login', new_user_session_path %></span>
    <% end %>
  </div>
  </div>
    <a href="mailto:leroidejesa@gmail.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1000px-New_Logo_Gmail.svg.png" class="logos"></a><a href="http://linkedin.com/in/leroidejesa"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/256px-Linkedin_icon.svg.png" class="logos"></a><a href="http://github.com/leroidejesa"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" class="logos"></a>

  <div class="main-links">
    <h6 class="link1"><%= link_to "Skills", skills_path.concat("#skills") %></h6>
    <br>
    <h6 class="link2"><%= link_to "Blog", posts_path.concat("#posts") %></h6>
  <% if user_admin %>
    <br>
    <br>
    <h6 class="link3"><%= link_to 'New Post', new_post_path %></h6>
    <br>
    <br>
  <% end %>
  <br>
      <h6 class="link0"><%= link_to 'Show References', references_path, remote: true, class:'references'%></h6>
    <div id="ref-form">
    </div>
  </div>

</nav>


<!-- still experimenting -->

<% if posts_path %>
  <section class="content">
    <div class="splash">
      <!-- <h1>AJAX Code Review</h1> -->

      <h4>AJAX Code Review<br></h4>
      <p>mssg</p>
    </div>
</section>
<% end %>


  <div class="flashes">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <%= yield %>

</body>
</html>
